{% extends "base.html" %}

{% block content %}
    <div class="container" style="padding-bottom: 15px; padding-top: 10px;background-color: #e9ecef;border-radius: .3rem;margin-bottom: 15px" id="form-div">
      <form id="the-form">
        <div class="form-group">
          <label for="exampleInputEmail1"><strong>KEEP Taxonomy Term</strong></label>
          <input type="text" class="form-control" id="term-input" placeholder="Enter KEEP URI">
        </div>
        <button type="button" type="submit" value="submit" class="btn btn-primary btn-lg" id="term-search" style="margin-top: 10px" >Lookup Term</button>
        <button type="button" type="submit" value="submit" class="btn btn-outline-primary btn-lg" id="term-search-loading" style="margin-top: 10px;display: none;" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Looking for term...</button>
        <p id="error" style="margin-top: 10px; color: #8C1D40; display: none;"></p>
      </form>
      <div id="response" style="display: none;padding: 1rem 1rem;background-color: #e9ecef;border-radius: .3rem;">
        <h1 class="display-4" id="jumbo-name" style="margin-top: -15px;">Results</h1>
        <div id="resp-data-container" style="display: none;padding: 15px;margin-top: 15px;margin-bottom: 15px;background-color: #f9fafb;border-radius: .3rem;margin-bottom: 15px;">
          <h3>KEEP Record Data</h3>
          <div id="resp-data" data-type="keep"></div>
        </div>
        <p class="lead"><button type="button" class="btn btn-primary btn-lg" id="lc-names">Load LC Headings</button></p>
        <p class="lead"><button type="button" class="btn btn-outline-primary btn-lg" id="lc-names-loading" style="display: none;" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading, this may take a second...</button></p>
        <div id="lcContainer" style="display: none;padding: 2rem 1rem;background-color: #b6d6e3;border-radius: .3rem;">
          <h3 style="margin-top: -20px;margin-bottom: 15px;">LC Headings</h3>
          <div class="accordion" id="accordionLCnames">
            <p id="no-lc-found" style="display: none;margin-bottom: -5px;"><strong>No LC headings found!</strong></p>
          </div>
        </div>
        <p class="lead" style="margin-top: 1rem;"><button type="button" class="btn btn-success btn-lg" id="mesh-names">Load MESH Headings</button></p>
        <p class="lead"><button type="button" class="btn btn-outline-success btn-lg" id="mesh-loading" style="display: none;" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading, this may take a second ...</button></p>
        <div id="meshContainer" style="display: none;padding: 2rem 1rem;background-color: #b6e3be;border-radius: .3rem;">
          <h3 style="margin-top: -20px;margin-bottom: 15px;">MESH Headings</h3>
          <div class="accordion" id="accordionMeshNames">
            <p id="noMesh" style="display: block;margin-bottom: -5px;"><strong>No MESH headings found!</strong></p>
          </div>
        </div>
        <p class="lead" style="margin-top: 15px;margin-bottom: -1px;"><button type="button" class="btn btn-warning btn-lg" id="jumbo-new">New Search</button></p>
      </div>
    </div>
    <div class="container" style="margin-bottom: 15px">
      <a href="{{ url_for('dashboard') }}" class="btn btn-lg btn-danger" role="button">Return Home</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="pushModal" tabindex="-1" aria-labelledby="pushModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">This is what you want?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="changes"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="push">Yes, I Understand</button>
            <button type="button" class="btn btn-outline-primary btn-lg" id="push-loading" style="display: none;" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Working...</button></p>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">Close</button>
            <button type="button" class="btn btn-warning btn-lg" id="modal-new-search" style="display: none;">New Search</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
