{% extends "base.html" %}

{% block content %}
    <div class="col-md d-flex justify-content-center" style="margin-bottom: 10px;">
      <h5 class="text-muted"><em>Job {{ job_id }} -- term ID# {{ rec }}</em></h5>
    </div>
    <div class="container" style="padding-bottom: 15px; padding-top: 10px;background-color: #e9ecef;border-radius: .3rem;margin-bottom: 15px" id="form-div">
      <div id="response" style="display: none;padding: 1rem 1rem;background-color: #e9ecef;border-radius: .3rem;">
        <h2 class="display-4" id="jumbo-name" style="margin-top: -15px;"></h2>
        <div id="resp-data-container" style="display: none;padding: 15px;margin-top: 15px;margin-bottom: 15px;background-color: #f7f7f7;border-radius: .3rem;margin-bottom: 15px;">
          <h3>{{ kind|upper }} Record Data</h3>
          <div id="resp-data" data-type="{{ kind }}" data-id="{{ rec }}"></div>
          <div style="margin-top: 10px;margin-bottom: 10px;">
            <div class="col-md gap-2 d-flex justify-content-left">
              <a href="#" id="items-link" class="btn btn-secondary" target="_blank" role="button">Open Linked {{ kind|upper }} Items in New Tab</a>
              <button class="btn btn-danger me-md-2" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                  <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                  <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                </svg>  Delete Heading
              </button>
            </div>
          </div>
        </div>
        <div id="lcContainer" style="display: none;padding: 2rem 1rem;background-color: #b6d6e3;border-radius: .3rem;">
          <h3 style="margin-top: -20px;margin-bottom: 15px;">LC Headings</h3>
          <div class="accordion" id="accordionLCnames">
            <p id="no-lc-found" style="display: none;margin-bottom: -5px;"><strong>No LC headings found!</strong></p>
          </div>
          <button type="button" style="margin-top: 10px;margin-bottom: -20px;" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#manual-add-modal" id="manual-add-lc">Manually search LC headings</button>
        </div>
        <div id="meshContainer" style="display: none;padding: 2rem 1rem;background-color: #b6e3be;border-radius: .3rem;">
          <h3 style="margin-top: -20px;margin-bottom: 15px;">MESH Headings</h3>
          <div class="accordion" id="accordionMeshNames">
            <p id="noMesh" style="display: block;margin-bottom: -5px;"><strong>No MESH headings found!</strong></p>
          </div>
        </div>
      </div>
      <div style="margin-top: 10px;margin-bottom: 3px;">
        <div class="row">
          <div class="col-md gap-2 d-flex justify-content-left">
            <button type="button" class="btn btn-primary btn-lg" id="lc-names">Load LC Headings</button>
            <button type="button" class="btn btn-outline-primary btn-lg" id="lc-names-loading" style="display: none;" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading, this may take a second...</button>
            <button type="button" class="btn btn-success btn-lg" id="mesh-names">Load MESH Headings</button>
            <button type="button" class="btn btn-outline-success btn-lg" id="mesh-loading" style="display: none;" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading, this may take a second ...</button>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 15px;margin-bottom: -1px;">
      <div class="row">
        {% if not first %}
        <div class="col-md d-flex justify-content-end">
          <a href="{{ url_for('view_job_record', input_user=user, job_id=job_id, rec=prev)}}" class="btn btn-outline-primary" role="button">Previous record</a>
        </div>
        {% else %}
        <div class="col-md d-flex justify-content-end">
          <a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">Previous record</a>
        </div>
        {% endif %}
        <div class="col-md d-flex justify-content-center">
          <button class="btn btn-outline-primary" role="button" type="button" id="delete-record" data-job_id="{{job_id}}" data-rec_id="{{rec}}" data-user="{{user}}">Remove from job & go to next</button>
        </div>
        {% if not last %}
        <div class="col-md d-flex justify-content-left">
          <a href="{{ url_for('view_job_record', input_user=user, job_id=job_id, rec=next)}}" class="btn btn-outline-primary" role="button">Next record</a>
        </div>
        {% else %}
        <div class="col-md d-flex justify-content-left">
          <a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">Next record</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md d-flex justify-content-center" style="margin-bottom: 15px">
      <a href="{{ url_for('dashboard') }}" class="btn" style="background-color: #87300b;margin-top: 15px" role="button">Return Home</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="pushModal" tabindex="-1" aria-labelledby="pushModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">About to update {{ kind }} record ID {{ job_id }}...</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="changes"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="push">Yes, I Understand</button>
            <button type="button" class="btn btn-outline-primary btn-lg" id="push-loading" style="display: none;" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Working...</button></p>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Manual Record Add Modal -->
    <div class="modal fade" id="manual-add-modal" tabindex="-1" aria-labelledby="manual-add-modal-Label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Manually link an authority record to this term</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="man-add-form">
              <div class="form-group">
                <input type="text" class="form-control" id="manual-add-uri-input" placeholder="Enter LC URI here">
              </div>
              <button type="button" type="submit" value="submit" class="btn btn-primary" id="man-add-search" style="margin-top: 10px">Lookup Term</button>
              <button type="button" type="submit" value="submit" class="btn btn-outline-primary" id="man-add-search-loading" style="margin-top: 10px;display: none;" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Looking for term...</button>
            </form>
            <div id="manual-add-body">
              <p id="manual-add-error" style="margin-top: 5px; margin-bottom: 5px; color: #8C1D40; display: none;"></p>
              <p id="manual-add-result" style="margin-top: 5px; margin-bottom: 5px; color: #8C1D40; display: none;"></p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="manual-add-push" style="display: none;">Yes, I Understand</button>
            <button type="button" class="btn btn-outline-primary btn-lg" id="manual-add-push-loading" style="display: none;" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Working...</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
